.not-found{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.not-found-lamp{
    height: 45vh;
}

.not-found-title{
    font-size: 1.8em;
    margin-bottom: 0;
    font-family: 'Courier New', Courier, monospace;
}

.not-found-subtitle{
    font-size: 1.5em;
    font-family:'Courier New', Courier, monospace
}


.not-found-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: rgba(255,255,255,0.87);
    cursor: pointer;
    transition: border-color 0.25s;
  }
  .not-found-button:hover {
    border-color: #646cff;
  }
  .not-found-button:focus,
  .not-found-button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }