.header{
    margin: 10px 20px;
}

.header-link{
    text-decoration: none;
}

.header-logo{
    display: flex;
    cursor: pointer;
}

.header-title{
    color:#e9e3d9;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo{
    width: 60px;
}

@media only screen and (max-width: 580px) {
    .header-title{
        font-size: 25px;
        line-height: 30px;
    }
}