.menu-list{
    display: flex;
    justify-content: space-around;
    padding: 5px 9px;
    margin: 0 180px;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    list-style: none;
}

.menu-item{
    text-align: center;
    min-width: 100px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    background-color: #e9e3d9;
    color: black;
    padding: 12px 10px;
    flex-grow: 1;
}

.menu-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
    margin: -12px -10px;
    padding: 12px 10px;
  }
  
.active-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
    margin: -12px -10px;
    padding: 12px 10px;
    border-radius: 15px;
    color: white;
    background-color: #ffaa18;
}

@media only screen and (max-width: 580px) {
.menu-list{
    margin: 0 20px;
}
}
